.listFooter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: end;
  margin-top: 20px;
}

.itemsLeft {
  color: rgb(112, 112, 112);
  font-size: 1em;

}

.btnClearCompleted {
  display: flex;
  align-items: end;
  border: none;
  background-color: white;
  font-size: 1em;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(112, 112, 112);
  transition: background-color 0.3s, color 0.3s;
}

.btnClearCompleted:hover {
  color: black;
}

.buttonActive {
  background-color: rgba(163, 163, 163, 0.5);
  color: white;
}