.container {
  position: relative;
  display: flex;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: calc(1em * var(--item-size));
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 50px;
  outline: none;
}

.button {
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  cursor: pointer;
}

.button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}